server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webmvc:
          routes:
          - id: auth-routes
            uri: http://localhost:8081
            predicates:
            - Path=/auth/**